html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 200%;
  background: #00bcd4;
  color: #fff;
}

#introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  flex-grow: 1;
  padding: 7%;
}

#heading {
  font-weight: 500;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
}

#social-networks {
  margin-top: 20px;

  img {
    margin-right: 20px;
  }
}
